<section id="project">
    <div class="container">
        {{#if project}}
            <div class="row">
                    <li class="project">
                        <div class="projectcontainer">
                            {{!-- <img class="hero" src="/img/To-do-app.PNG" alt="img-calender" srcset=""> --}}
                            <div class="projectdescription">
                                <h1 class="project--title">
                                    {{project.projectTitle}}
                                </h1>
                                <p class="project--para">
                                    {{project.projectDesc}}
                                </p>
                                <p class="project--link">
                                    {{project.projectLink}}
                                </p>
                                <p class="date_created">
                                    {{project.projectDate}}
                                </p>
                            </div>
                        </div>
                    </li>
                    {{#if isLoggedIn}}
                        <div class="form-group">
                            <form action="/projects/{{project.id}}/update" method="get">
                                <input type="submit" value="update">
                            </form>
                            <form action="/projects/{{project.id}}/delete" method="post">
                                <input type="submit" value="delete">
                            </form>
                        </div>
                    {{/if}}
            </div>
        {{/if}}
    </div>
</section>