<section id="projects">
    <div class="container">
        <div class="row">
            <form action="/projects/create" method="get">
                <input type="submit" value="Create Project">    
            </form>
            {{#if projects.length}}
            <h1 class="projectstitle"> 
                Here are my Projects
            </h1>
            <ul class="projectlist">
                {{#each projects}}
                <ul class="">
                    <li class="">
                        <div class="projectcontainer">
                            <div class="projectdescription">
                                
                                <h1 class="project--title">
                                    {{projectTitle}}
                                </h1>

                                <p class="project--para">
                                    {{projectDesc}}
                                </p>

                                <p class="link_to_project_in_gitHub"> 
                                    {{projectLink}}
                                </p>

                                <p class="date_created">
                                    {{projectDate}}
                                </p>

                                <a href="/projects/{{id}}">
                                    View Project
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </div>
</section>